#navigationSearch {
    width: 100%;
    height: 30vh;
    display: flex;
    align-content: center;
    flex-direction: column;
}

#buttonsSearch {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    color: white;
}

#dateSelect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}

#dateRangeWrapper{
    text-align: center;
    flex: 1;
}

h2{
    color: white;
}

#searchOptions{
    flex: 1;
}

h2:hover {
    color: cornflowerblue;
}

#logoSearch{
    height: 20vh;
    margin: 0 auto;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 5px auto;
}